*{
    box-sizing: border-box;
}

body{
    background-color: #9b59b6;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main{
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
    width: 400px;
    max-width: 100%;
}
.header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}
.header h2{
    text-align: center;
    font-family: sans-serif;
}
.form{
    padding: 30px 40px;
}
.form-control{
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 20px;
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
    font-family: sans-serif;
}
.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}
.form-control input:focus {
    outline: none;
}
.form-control.error input {
    border-color: red;
}

.form-control.success input {
    border-color: green;
}
.form-control small {
    color: red;
}
.form i{
    position: absolute;
    top: 35px;
    right: 10px;
    
    
}

.form-details input{
    background-color: #8e44ad;
    border: 2px solid #8e44ad;
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: sans-serif;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }

  .icon i{
    position: absolute;
    right: 36%;
    top: 30%;
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }